// Place all the styles related to the Works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin box-shadow-inset($x, $y, $spread, $colour) {
	-moz-box-shadow: inset $x $y $spread $colour;
	-webkit-box-shadow: inset $x $y $spread $colour;
	box-shadow: inset $x $y $spread $colour;
}

@mixin box-shadow($x, $y, $spread, $colour) {
	-moz-box-shadow: $x $y $spread $colour;
	-webkit-box-shadow: $x $y $spread $colour;
	box-shadow: $x $y $spread $colour;
}

@mixin box-sizing($sizing: 'border-box') {
	box-sizing: $sizing;
	-webkit-box-sizing: $sizing;
	-moz-box-sizing: $sizing;
	-ms-box-sizing: $sizing;
}

.work {

	overflow: auto;

	.work-chrono {
		width: 70px;
		float: left;

		.work-box {
			border: 5px solid #fff;
			background: #333;
			height: 44px;
			width: 44px;
			-moz-transition-property: opacity;
			-moz-transition-duration: 0.3s;
			margin: 0 0 10px 8px;
			opacity: 0.5;
			cursor: pointer;

			&:hover {
				opacity: 1;
			}
		}
	}


	.work-listing, .work-detail {

		padding-left: 20px;

		h3 {
			margin-bottom: 15px;
		}

		overflow: auto;
	}

	.work-item, .detail-box {
		width: 415px;
		height: 288px;
		float: left;
		background: #f5f5f5;
		margin: 0 20px 20px 0;

		.picture {
			margin: 10px;
			background: #333;
			height: 200px;
		}

		h4 {
			font-family: 'Yanone Kaffeesatz', sans-serif;
			font-size: 2em;
			margin: 10px 0 8px 10px;

			a {
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}

		p {
			padding: 0 0 0 10px;
			margin: 0;
		}
	}

	.work-detail-techs {
		width: 70px;
		float: left;
		text-align: center;
		padding-top: 7px;

		.edit {
			display: block;
			width: 32px;
			height: 32px;
			background: asset-url('icons/edit.png', image) no-repeat 0 0;
			margin: 0 0 12px 18px;
		}

		.dim {

			height: 500px;
			opacity: 0.5;
			-moz-transition-property: opacity;
			-moz-transition-duration: 0.3s;

			&:hover {
				opacity: 1;
			}
		}

		.tech {
			
			margin: 0 0 10px 0;

			span, abbr {
				font-family: Monaco, ProFont, "Bitstream Vera Sans Mono", "American Typewriter", "Andale Mono", monospace;
				font-size: 0.9em;
				background: #333;
				color: #fff;
				padding: 4px 6px;
				border-radius: 3px;
				cursor: default;

				background-image: linear-gradient(bottom, rgb(51,51,51) 65%, rgb(26,26,26) 76%);
				background-image: -o-linear-gradient(bottom, rgb(51,51,51) 65%, rgb(26,26,26) 76%);
				background-image: -moz-linear-gradient(bottom, rgb(51,51,51) 65%, rgb(26,26,26) 76%);
				background-image: -webkit-linear-gradient(bottom, rgb(51,51,51) 65%, rgb(26,26,26) 76%);
				background-image: -ms-linear-gradient(bottom, rgb(51,51,51) 65%, rgb(26,26,26) 76%);

				@include box-shadow-inset(0px, 0px, 2px, #000);
			}
		}
	}

	.work-detail {
		padding: 0 20px 20px 20px;
	}

	.detail-box {
		width: 100%;
		height: auto;

		.status {
			overflow: auto;
			padding: 3px 10px 3px 10px;

			p {
				background: #fcfcfc;
				padding: 3px 8px;
				font-size: 1.1em;
				border: 1px solid #ddd;
				border-radius: 3px;
				//@include box-shadow(inset, 0px, 0px, 2px, #aaa);
			}

			.date {
				float: left;
			}
			.url {
				float: right;
			}
		}

		.description {
			background: #fcfcfc;
			padding: 10px 8px 0 8px;
			margin: 8px 10px 10px 10px;
			font-size: 1.1em;
			border: 1px solid #ddd;
			border-radius: 3px;

			p {
				margin: 0 6px 10px 6px;
				padding: 0;
			}
		}
	}

	.work-form {
		padding-left: 85px;

		label {
			font-size: 1.1em;
			margin-bottom: 4px;
		}

		.field {
			padding-right: 20px;
		}

		.name, .url {
			width: 500px;
		}

		// form elements
		.description {
			width: 100%;
			@include box-sizing(border-box);
		}

		.actions {
			margin-top: 16px;
		}
	}
}

#thumb-creator-box {
	position: absolute;
	background: #333;
	z-index: 100;
	border: 5px solid #555;
	left: 50%;
	margin-top: 30px;

	.buttons {
		padding: 20px 20px 0 20px;
		overflow: auto;

		p {
			float: right;
		}

		p, button {
			margin-bottom: 0;
		}
	}

	.source {
		margin: 20px 0 20px 24px;
		position: relative;
		background-repeat: no-repeat;
	}

	.banner-thumb-selector {
		background: #a00;
		opacity: 0.5;
		width: 828px;
		height: 198px;
		position: absolute;
		top: 0;
		left: 0;
		@include box-shadow(0, 0, 5px, #000);
	}

	.banner-thumb-selector.active {
		//border: 1px solid #fff;
		@include box-shadow(0, 0, 10px, #000);
	}

	.mini-thumb-selector {
		background: #00a;
		opacity: 0.5;
		width: 44px;
		height: 44px;
		position: absolute;
		top: 0;
		left: 0;
		@include box-shadow(0, 0, 5px, #000);
	}
}